 <!-- Revolutionizing Section -->
<!-- <div class="mt-20 grid md:grid-cols-2 gap-12 items-center"> -->
<div class="grid md:grid-cols-2 gap-8 mt-16">
    <div class="content-center">
        <h2 class="headline-2 mb-6 gradient-text">
            Revolutionizing Sign Language Communication with
            Cutting-Edge Technology
        </h2>
        <span><p class="text-gray-400">Explore
                the Features</p></span>
    </div>
    <div>
        <div class="mb-8 grid gap-4 grid-cols-2">
            <div class="inline-block">
                <h2 class="mb-2 body-1-semibold inline-block relative">
                    <span
                        class="absolute left-0 -top-1 h-0.5 w-full gradient-bg rounded-full mb-5"></span>
                    Real-Time Recognition
                </h2>
            </div>
            <div>
                <p class="text-font-primary leading-relaxed body-3">
                    Our advanced machine learning algorithms
                    enable real-time recognition of sign
                    language gestures, making communication
                    faster and more efficient.
                </p>
            </div>
        </div>
        <div class="mb-8 grid gap-4 grid-cols-2">
            <div class="inline-block">
                <h2 class="mb-2 body-1-semibold inline-block relative">
                    <span
                        class="absolute left-0 -top-1 h-0.5 w-full gradient-bg rounded-full mb-5"></span>
                    Easy-to-Use-Interface
                </h2>
            </div>
            <div>
                <p class="text-font-primary leading-relaxed body-3">
                    Our intuitive user interface is designed to
                    be easy to use for people of all ages and
                    skill levels, making it accessible to
                    everyone.
                </p>
            </div>
        </div>
        <div class="mb-8 grid gap-4 grid-cols-2">
            <div class="inline-block">
                <h2 class="mb-2 body-1-semibold inline-block relative">
                    <span
                        class="absolute left-0 -top-1 h-0.5 w-full gradient-bg rounded-full mb-5"></span>
                    Adaptive Learning
                </h2>
            </div>
            <div>
                <p class="text-font-primary leading-relaxed body-3">
                    Our system uses adaptive learning to
                    improve recognition accuracy over time,
                    allowing for continuous improvement and
                    increased efficiency.
                </p>
            </div>
        </div>
        <div class="mb-8 grid gap-4 grid-cols-2">
            <div class="inline-block">
                <h2 class="mb-2 body-1-semibold inline-block relative">
                    <span
                        class="absolute left-0 -top-1 h-0.5 w-full gradient-bg rounded-full mb-5"></span>
                    High Accuracy
                </h2>
            </div>
            <div>
                <p class="text-font-primary leading-relaxed body-3">
                    With a high accuracy rate of over 80%,
                    our system ensures that sign language
                    communication is not only faster, but also
                    more accurate.
                </p>
            </div>
        </div>

        <!-- <ul class="space-y-4 relative">
                <li><span class="font-semibold absolute left-0 -top-1 h-0.5 w-full gradient-bg rounded-full mb-5">Real-Time
                        Recognition</span></li>
                <li><span class="font-semibold">Easy-to-Use
                        Interface</span></li>
                <li><span class="font-semibold absolute left-0 -top-1 h-0.5 w-full gradient-bg rounded-full mb-5">Adaptive
                        Learning</span></li>
                <li><span class="font-semibold absolute left-0 -top-1 h-0.5 w-full gradient-bg rounded-full mb-5">High Accuracy</span></li>
            </ul> -->
    </div>
</div>

<!-- </div> -->
<div class="flex justify-between items-center mt-16 gap-16 flex-col md:flex-row">
    <!-- <div> -->

    <img src="images/sign_girl.png" alt="Sign Girl"
        class="rounded-2xl w-80 mx-auto mb-4" />
    <!-- </div> -->
    <div class>

        <h3 class="headline-3 mb-4 gradient-text">Get to
            know, How it Works!</h3>
        <p class="text-gray-300 text-sm leading-relaxed ">
            To use the sign language recognition system, you simply need to get
            your hand detected and make a sign. Once you make a sign, refer to
            the guide for the corresponding words. The system will then scan
            your hand and use its built-in model to predict the sign you have
            made. Finally, the predicted class will be displayed, allowing you
            to communicate effectively through sign language. With this system,
            you can bridge the communication gap between sign language users and
            non-sign language users, making it easier for everyone to connect
            and interact.
        </p>
    </div>
</div>
<!-- CTA Section -->
<!-- class="mt-16 bg-gradient-to-r from-purple-500 to-orange-400 rounded-xl flex justify-between items-center p-6"> -->
<div
    class="mt-16 gradient-bg rounded-xl flex justify-between items-center p-6">
    <h3 class="text-white font-semibold text-lg">Get Started and Try the
        Model</h3>
    <button
        class="bg-black text-white px-6 py-2 rounded-lg hover:bg-gray-800 transition">
        Try Now!
    </button>
</div>