
<div class="grid md:grid-cols-[1.5fr_0.5fr] gap-10 items-center mt-16">
    <div>
        <h1 class="headline-1 md:headline-3 mb-4 gradient-text">
            Increase your Cognitive Brain Power with SLR.
        </h1>
        <p class="text-font-primary leading-relaxed w-3/4 body-2">
            It has been proven in studies that learning sign language
            keeps you on your feet as you age and also increases your
            thinking power.
            Learning sign language will help you communicate with 72
            million speakers worldwide.
            So test out our tool, Learn and Practice Sign Language and
            Have Fun.
        </p>
    </div>

    <div class="flex justify-end">
        <img src="images/sign_hand.png" alt="Sign Hand"
            class="w-72" />
    </div>
</div>

<!-- What is Sign Language Section -->
<div class="mt-16 bg-linear-to-r from-[#0c2248] to-[#0e1f3a] p-8 rounded-2xl">
    <div class="mb-10 grid gap-4 grid-cols-2">
        <div class="inline-block">
            <h2 class="mb-2 body-1-semibold inline-block relative">
                <span
                    class="absolute left-0 -top-1 h-0.5 w-full gradient-bg rounded-full mb-5"></span>
                What is Sign Language
            </h2>
        </div>
        <div>
            <p class="text-font-primary leading-relaxed body-3">
                Sign language is a visual means of communication that uses
                hand gestures, facial expressions, and body language to
                convey meaning.
                It is primarily used by individuals who are deaf or hard of
                hearing, but it can also be used by anyone looking to
                communicate in a non-verbal way.
            </p>
        </div>
    </div>
    <div class="grid md:grid-cols-3 gap-8">
        <div class="inline-block">
            <h2 class="mb-2 body-1-semibold inline-block relative">
                <span
                    class="absolute left-0 -top-1 h-0.5 w-full gradient-bg rounded-full"></span>
                Learn
            </h2>
            <p class="text-font-primary leading-relaxed body-3">
                Start learning interesting sign language basics,
                including alphabets and common words from our guide
                section.
            </p>
        </div>

                <div class="inline-block">
            <h2 class="mb-2 body-1-semibold inline-block relative">
                <span
                    class="absolute left-0 -top-1 h-0.5 w-full gradient-bg rounded-full mb-5"></span>Practice</h2>
            <p class="text-font-primary leading-relaxed body-3">
                Go to the Detect Section and practice the sign until our
                model detects and recognizes it completely.
            </p>
        </div>

                <div class="inline-block">
            <h2 class="mb-2 body-1-semibold inline-block relative">
                <span
                    class="absolute left-0 -top-1 h-0.5 w-full gradient-bg rounded-full mb-5"></span>Test</h2>
            <p class="text-font-primary leading-relaxed body-3">
                Test yourself by signing without referring to the guide
                and see if the model recognizes it correctly.
            </p>
        </div>
    </div>
</div>


