@import './_typography.css';

:root {
  /* ===== BOX SHADOWS ===== */
  --shadow-common-button-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.06);
  --shadow-common-box: 0px 4px 16px 0px rgba(0, 0, 0, 0.04);
  --shadow-common-tab-bottom: 0px 5px 4px -4px rgba(45, 87, 237, 0.15);

  --shadow-nav-bar:
    -1px -1px 10px rgba(255, 255, 255, 0.1),
    1px 1px 1px rgba(255, 255, 255, 0.2), 1px 1px 5px rgba(255, 255, 255, 0.2),
    1px 1px 2px rgba(0, 0, 0, 0.17), 0px 2px 8px rgba(0, 0, 0, 0.1);

  --shadow-button: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.25)), drop-shadow(0px 0px 0px 2px rgba(58, 17, 95, 100));
}
/* ===== KEYFRAMES ===== */
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@layer utilities {
 
  .common-login-button {
    @apply py-1 border border-border-secondary bg-violet-primary text-center transition-all duration-200 disabled:opacity-70 text-white shadow-button;
  }
  .common-login-button:hover:not(:disabled) {
    @apply shadow-common-button-shadow;
  }

  .common-button {
    @apply flex h-9 items-center justify-center gap-2 overflow-hidden rounded-md px-4 sm:px-6 py-2 text-center text-sm font-bold transition-all duration-200 disabled:opacity-70;
  }
  .common-button:hover:not(:disabled) {
    @apply shadow-common-button-shadow;
  }

  .common-gradient-button {
    @apply flex h-9 items-center justify-center gap-2 overflow-hidden rounded-md bg-linear-to-r from-purple-primary via-pink-primary to-red-secondary p-3 text-center text-sm font-bold text-white transition-all duration-150 disabled:opacity-70;
  }
  .common-gradient-button:hover:not(:disabled) {
    @apply hover:bg-linear-to-br;
  }

  .hover-effect {
    @apply absolute w-0 h-0 transition-all duration-500 ease-out  rounded-full group-hover:w-60 group-hover:h-60;
  }
}
