@import './_typography.css';

@theme {
  /* ===== BOX SHADOWS ===== */
  --shadow-common-button-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.06);
  --shadow-common-box: 0px 4px 16px 0px rgba(0, 0, 0, 0.04);
  --shadow-common-tab-bottom: 0px 5px 4px -4px rgba(45, 87, 237, 0.15);

  --shadow-nav-bar:
    -1px -1px 10px rgba(255, 255, 255, 0.1),
    1px 1px 1px rgba(255, 255, 255, 0.2), 1px 1px 5px rgba(255, 255, 255, 0.2),
    1px 1px 2px rgba(0, 0, 0, 0.17), 0px 2px 8px rgba(0, 0, 0, 0.1);

  --shadow-button: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.25)), drop-shadow(0px 0px 0px 2px rgba(58, 17, 95, 100));
}
/* ===== KEYFRAMES ===== */
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@layer utilities {
 
  .common-login-button {
    @apply flex h-9 items-center justify-center gap-2 overflow-hidden border border-gray-400 bg-violet-primary px-12 py-3 text-center transition-all duration-200 disabled:opacity-70 text-white shadow-button;
  }
  .common-login-button:hover:not(:disabled) {
    @apply shadow-common-button-shadow;
  }

  .common-button {
    @apply flex h-9 items-center justify-center gap-2 overflow-hidden rounded-md border border-border-primary bg-white px-12 py-3 text-center text-sm font-bold transition-all duration-200 disabled:opacity-70;
  }
  .common-button:hover:not(:disabled) {
    @apply shadow-common-button-shadow;
  }

  .common-gradient-button {
    @apply flex h-9 items-center justify-center gap-2 overflow-hidden rounded-md bg-gradient-to-r from-purple-400 via-pink-500 to-red-secondary p-3 text-center text-sm font-bold text-white transition-all duration-150 disabled:opacity-70;
  }
  .common-gradient-button:hover:not(:disabled) {
    @apply hover:bg-gradient-to-br;
  }
}
