@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&family=Karla:wght@400;500;600;700&family=Manrope:wght@200..800&display=swap');

/* Tailwind layers */
@import "tailwindcss";

/* @tailwind utilities; */
@import './assets/style_variants/base.css';


* {
  font-family: var(--font-manrope), var(--font-roboto);
}
html,
body {
  margin: 0;
  background-color: var(--color-bg-primary);
  font-family: var(--font-manrope);
}


/* ===== Fix browser autofill background & text color ===== */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-text-fill-color: #ffffff !important;
  caret-color: #ffffff;
  transition: background-color 5000s ease-in-out 0s;
}

